---
layout: page.njk
permalink: "/ekdiloseis/{{title | transliterate}}/index.html"
---
<div class="inner">
  <section class="post">
    <header class="major">
      <span class="date">
        📅 <time datetime="{{ page.date | htmlDateString }}" itemprop="datePublished"> {{ page.date | readableDate }} </time>
      </span>

      <h1>{{ title }}</h1>

      <p>{{ custom_excerpt }}</p>
    </header>

      <article class="articleBody">
        {{ layoutContent | safe }}

        {%- if (attachment) -%}
        <object data="{{site.url}}{{attachment}}" height="1200px" style="width: 100%;min-height: 100%;"></object>
        {%- endif -%}

      </article>
    <hr>
  </section>
</div>
