---
layout: base.njk
title: Δ/Σ Συλλόγου
---
{% set listview %}
  {% include "../assets/css/components/listview.min.css" %}
{% endset %}
<style>
  {{ listview | cssmin | safe }}
</style>

  <header class="g-center">
    <h2>Δ/Σ Συλλόγου</h2>
  </header>
  <div class="posts">...
  </div>
</section>
