---
layout: base.njk
title: Δ.Σ. Συλλόγου
---
{% set listview %}
  {% include "../assets/css/components/listview.min.css" %}
{% endset %}
<style>
  {{ listview | cssmin | safe }}
  .box {
  background: rgba(0, 0, 0, 0.05);
  padding: 40px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  color: #000;
}

.placeholder img {
width: 200px !important;
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h3 {
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 25px;
}

.box p {
  font-size: 18px;
  font-weight: 100;
}
</style>

  <header class="g-center">
    <h2>Δ.Σ. Συλλόγου</h2>
  </header>
  <div class="posts">
    {%- for item in dss.items -%}
      <article class="box">
        <div class="placeholder">
          {%- if item.image -%}
            <img src="{{item.image}}" alt="profile-picture" class="box-img" style="max-width:100%" loading="lazy"/>
          {% else %}
              <img loading="lazy" alt="" src="data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhciIgZGF0YS1pY29uPSJpbWFnZSIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWltYWdlIGZhLXctMTYiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNNDY0IDY0SDQ4QzIxLjQ5IDY0IDAgODUuNDkgMCAxMTJ2Mjg4YzAgMjYuNTEgMjEuNDkgNDggNDggNDhoNDE2YzI2LjUxIDAgNDgtMjEuNDkgNDgtNDhWMTEyYzAtMjYuNTEtMjEuNDktNDgtNDgtNDh6bS02IDMzNkg1NGE2IDYgMCAwIDEtNi02VjExOGE2IDYgMCAwIDEgNi02aDQwNGE2IDYgMCAwIDEgNiA2djI3NmE2IDYgMCAwIDEtNiA2ek0xMjggMTUyYy0yMi4wOTEgMC00MCAxNy45MDktNDAgNDBzMTcuOTA5IDQwIDQwIDQwIDQwLTE3LjkwOSA0MC00MC0xNy45MDktNDAtNDAtNDB6TTk2IDM1MmgzMjB2LTgwbC04Ny41MTUtODcuNTE1Yy00LjY4Ni00LjY4Ni0xMi4yODQtNC42ODYtMTYuOTcxIDBMMTkyIDMwNGwtMzkuNTE1LTM5LjUxNWMtNC42ODYtNC42ODYtMTIuMjg0LTQuNjg2LTE2Ljk3MSAwTDk2IDMwNHY0OHoiPjwvcGF0aD48L3N2Zz4=" style="opacity:.25"/>
          {%- endif -%}
        </div>
        <h3>{{ item.name }}</h3>
        <p>{{ item.desc }}</p>
      </article>
    {%- endfor -%}
  </div>
</section>
