---
title: Εξωραϊστικός & Πολιτιστικός Σύλλογος Ψαλιδίου Αμαρουσίου "Ζωοδόχος Πηγή"
layout: base.njk
---
{% set listview %}{% include "../assets/css/components/listview.min.css" %}{% endset %}
{% set slider %}{% include "../assets/css/components/slider.min.css" %}{% endset %}
{% set leaf %}{% include "../assets/css/components/leaflet.min.css" %}{% endset %}
<style>
  {{listview | cssmin | safe}}
  {{slider | cssmin | safe}}
  {{leaf | cssmin | safe}}
</style>

<script type="module" src="/assets/js/slider.min.js" defer></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin="" defer></script>

<section class="cols-2">
  <div class="content">
    <header>
      <h1>{{title}}</h1>
    </header>
    <p>Ο Εξωραϊστικός & Πολιτιστικός Σύλλογος Ψαλιδίου «Ζωοδόχος Πηγή» ιδρύθηκε στις 8 Μαρτίου 1959, με αρχική επωνυμία «Εξωραϊστικός Σύλλογος  Ζωοδόχος Πηγή».  Το έτος 2000 διευρύνθηκαν οι στόχοι του με την προσθήκη και πολιτιστικής δράσης.  Σκοπός του Συλλόγου είναι η προστασία του αστικού και φυσικού περιβάλλοντος στο Ψαλίδι Αμαρουσίου και η αναβάθμιση της ποιότητας ζωής των κατοίκων του.</p>
    <p></p>
    <div style="display: flex; flex-direction: row">
      <a href="/syllogos/" style="margin: 0 1rem;">Περισσότερα</a>
      <a href="/ds-syllogou/" style="margin: 0 1rem;">Δ.Σ. Συλλόγου</a>
      <a href="/katastatiko/" style="margin: 0 1rem;">Καταστατικό Συλλόγου</a>
    </div>
  </div>
  <span class="image object">
    <custom-slider id="ideal-image-slider" class="image" style="margin-top: 2rem">
      <img data-src="/assets/slider/2.jpg" alt="Slide 2"/>
      <img data-src="/assets/slider/3.jpg" alt="Slide 3"/>
      <img data-src="/assets/slider/4.jpg" alt="Slide 4"/>
      <img data-src="/assets/slider/5.jpg" alt="Slide 5"/>
      <img data-src="/assets/slider/1.jpg" alt="Slide 1"/>
      <img data-src="/assets/slider/6.jpg" alt="Slide 6"/>
      <img data-src="/assets/slider/7.jpg" alt="Slide 7"/>
      <img data-src="/assets/slider/8.jpg" alt="Slide 8"/>
      <img data-src="/assets/slider/9.jpg" alt="Slide 9"/>
      <img data-src="/assets/slider/10.jpg" alt="Slide 10"/>
      <img data-src="/assets/slider/11.jpg" alt="Slide 11"/>
      <img data-src="/assets/slider/12.jpg" alt="Slide 12"/>
      <img data-src="/assets/slider/13.jpg" alt="Slide 13"/>
      <img data-src="/assets/slider/14.jpg" alt="Slide 14"/>
      <img data-src="/assets/slider/15.jpg" alt="Slide 15"/>
      <img data-src="/assets/slider/16.jpg" alt="Slide 16"/>
    </custom-slider>
  </span>
</section>

<section>
  {% set postslist = collections.tags | head(-9) %}
  <header class="g-center">
    <h2>Πρόσφατα δημοσιεύματα</h2>
  </header>
  <div class="cols-3">
    {% for latest in postslist | reverse %}
      <article class="box">
        <div class="placeholder">
          {%- if latest.data.image -%}
            <img src="{{latest.data.image}}" alt="{{latest.data.imageAlt}}" style="width:100%" loading="lazy"/>
          {% else %}
              <img loading="lazy" alt="" src="data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhciIgZGF0YS1pY29uPSJpbWFnZSIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWltYWdlIGZhLXctMTYiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNNDY0IDY0SDQ4QzIxLjQ5IDY0IDAgODUuNDkgMCAxMTJ2Mjg4YzAgMjYuNTEgMjEuNDkgNDggNDggNDhoNDE2YzI2LjUxIDAgNDgtMjEuNDkgNDgtNDhWMTEyYzAtMjYuNTEtMjEuNDktNDgtNDgtNDh6bS02IDMzNkg1NGE2IDYgMCAwIDEtNi02VjExOGE2IDYgMCAwIDEgNi02aDQwNGE2IDYgMCAwIDEgNiA2djI3NmE2IDYgMCAwIDEtNiA2ek0xMjggMTUyYy0yMi4wOTEgMC00MCAxNy45MDktNDAgNDBzMTcuOTA5IDQwIDQwIDQwIDQwLTE3LjkwOSA0MC00MC0xNy45MDktNDAtNDAtNDB6TTk2IDM1MmgzMjB2LTgwbC04Ny41MTUtODcuNTE1Yy00LjY4Ni00LjY4Ni0xMi4yODQtNC42ODYtMTYuOTcxIDBMMTkyIDMwNGwtMzkuNTE1LTM5LjUxNWMtNC42ODYtNC42ODYtMTIuMjg0LTQuNjg2LTE2Ljk3MSAwTDk2IDMwNHY0OHoiPjwvcGF0aD48L3N2Zz4=" style="opacity:.25"/>
          {%- endif -%}
        </div>
        <time class="postlist-date" datetime="{{ latest.data.date | htmlDateString }}">📅
          {{ latest.data.date | readableDate }}</time>
        <h3>
          <a href="{{ latest.url }}" title="{{ latest.data.title }}" class="image">{{ latest.data.title }}</a>
        </h3>
        <p>{{latest.data.description}}</p>
      </article>
    {% endfor %}
  </div>
</section>

<div id="map" style="height: 360px; border: 1px solid #AAA;"></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L
    .map('map')
    .setView([
      38.04762, 23.78997
    ], 18);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        maxZoom: 19,
        minZoom: 10
      })
      .addTo(map)
  });
</script>
