---
title: Ευχαριστούμε για την κατάθεση της αίτησης
layout: base.njk
---


<h1>Ευχαριστούμε για την κατάθεση της αίτησης</h1>

<p>
Ευχαριστούμε για τη υποβολή της Αίτησης
</p>
<p>
Η Αίτησή σας θα επεξεργαστεί από το Διοικητικό Συμβούλιο του Συλλόγου και θα ενημερωθείτε για την πορεία της ενεργοποίησης της ετήσιας συνδρομής σας.
</p>
