---
title: Ευχαριστούμε για την κατάθεση της αίτησης
layout: base.njk
---


<h1>Ευχαριστούμε για την κατάθεση της αίτησης</h1>

<p>
Η αίτηση σας θα επεξεργαστεί από το διοικητικό συμβούλιο και θα ενημερωθείτε για την πορεία της ενεργοποίησης της συνδρομής.
</p>
