<header>
  <div class="header-top">
    <button type="button" class="burger" aria-expanded="false">
      <svg aria-hidden="true" focusable="false" class="social-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
        <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
      </svg>
    </button>

    <strong class="logo">
      {% if title %}
        {{title}}
      {% else %}Σύλλογος Ζωοδόχος Πηγή{% endif %}
    </strong>

    {% include "social.njk" %}

  </div>

  <nav class="navbar main" style="display: none">
    <img src="/assets/slider/logo.png" alt="" style="margin-top: -8rem; margin-bottom: 2rem;">

    <button type="button" class="navClose">Επιστροφή
      <span aria-hidden="true" style="font-size: 1.2rem;margin-left: 1rem;">ⓧ</span>
    </button>

    <ul class="nav-links">
      {%- for menuItem in navigation.items -%}
        <li class="nav-item">
          <a href="{{menuItem.url}}">{{menuItem.text}}</a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
  <div class="overlay"></div>
</header>
